/* Element Styling */

body {
  background-color: #111;
  color: white;
}

h1 {
  font-size: 3rem;
  font-family: "Poppins";
  text-align: center;
}

p, li {
  font-size: 1.5rem;
  font-family: "Poppins";
}

li {
  padding: 10px;
}

iframe {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  border: none;
  z-index: 3;
}

/* Class Styling */

.pop-text {
  color: pink;
}

.question-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.question-text {
  padding: 50px;
}

.visual {
  aspect-ratio: 16 / 9;
}

.data-vis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.conclusions {
  text-align: left;
}

#exit-map {
  width: 90px;
  height: 35px;
  background-color: pink;
  opacity: 75%;
  color: #111;
  border-radius: 1rem;
  font-family: "Poppins";
  font-weight: 500;
  z-index: 2;
  position: absolute;
  top: 90vh;
  right: 3vw;
  transition: 0.3s;
}

#exit-map:hover {
  background-color: pink;
  cursor: pointer;
  opacity: 100%;
}