body {
  background-color: #111;
  color: white;
}

/* Font Styling */

.bulk-text {
  font-size: 1.5rem;
  font-family: "Poppins";
}

.heading {
  font-size: 3rem;
  width: 100%;
  font-family: "Poppins";
}

.infographic {
  width: 100%;
  height: 100%
}
